[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
apache-airflow = "2.4.3"
apache-airflow-providers-microsoft-azure = "4.3.0"
isort = "5.12.0"
black = "23.3.0"

[requires]
python_version = "3.11"
